torch>=2.0
torchvision
ultralytics>=8.0
opencv-python>=4.8
supervision
numpy
scipy
tqdm
sam2
huggingface_hub
loguru
scikit-image
lap
filterpy
h5py
hydra-core
omegaconf
segment-anything
inference-gpu
python-dotenv
Pillow
